/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --main-color: #000028;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --accent-text-color: #DB00FF;
  --low-opacity-accent: #ff006f66;
  --contrast-color: var(--accent-color);
  --bg-image: url("../images/cover-image-dark.png");
  background-color: var(--main-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #000028;
    --accent-color: #FF0070;
    --text-color: #F1B2CE;
    --accent-text-color: #DB00FF;
    --low-opacity-accent: #ff006f66;
    --contrast-color: var(--accent-color);
    --bg-image: url("../images/cover-image-dark.png")
  }

  .page {
    background-color: var(--main-color);
  }
}