/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --main-color: #ffc2e6;
  --bg-color: #FFF1F7;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --accent-title-color: #ff8dcb;
  --accent-title-color-secondary: #ff0070;
  --low-opacity-accent: #35343066;
  --contrast-color: var(--text-color);
  --bg-image: url("../images/cover-image-light.png");
}

.theme_light .decorative-text {
  display: none;
}

.theme_light .logo {
  color: var(--main-color);
  text-shadow: 4px 4px 0px var(--accent-title-color);
}

.theme_light .header__text,
.theme_light .section__title,
.theme_light .article__header,
.theme_light .article__list-title,
.theme_light .gallery__title,
.theme_light .header__theme-menu {
  color: var(--text-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #ffc2e6;
    --bg-color: #FFF1F7;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --accent-title-color: #ff8dcb;
    --accent-title-color-secondary: #ff0070;
    --low-opacity-accent: #35343066;
    --contrast-color: var(--text-color);
    --bg-image: url("../images/cover-image-light.png");
  }

  .decorative-text {
    display: none;
  }

  .header__text,
  .article-block__title,
  .section__title,
  .article__header,
  .article__list-title,
  .gallery__title,
  .header__theme-menu {
    color: var(--text-color);
  }

  .logo {
    color: var(--main-color);
    text-shadow: 4px 4px 0px var(--accent-title-color);
  }
}

@media (prefers-color-scheme: light) and (width >= 1024px) {
  .logo {
    text-shadow: 4px 4px 0px var(--accent-title-color-secondary);
  }
}

@media (width >= 1024px) {
  .theme_light .logo {
    text-shadow: 4px 4px 0px var(--accent-title-color-secondary);
  }
}
