/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --main-color: #ffc2e6;
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --accent-title-color: #ff0070;
  --low-opacity-accent: #35343066;
  --contrast-color: var(--text-color);
  --bg-image: url("../images/cover-image-light.png");
  background-color: #FFF;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-color: #ffc2e6;
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --accent-title-color: #ff0070;
    --low-opacity-accent: #35343066;
    --contrast-color: var(--text-color);
    --bg-image: url("../images/cover-image-light.png");
  }

  .page {
    background-color: #FFF;
  }

  .decorative-text {
    display: none;
  }

  .header_-text,
  .info-block__title,
  .wrapper__header,
  .info-block__title-accent,
  .header__theme-menu {
    color: var(--text-color);
  }

  .logo {
    color: var(--accent-color);
    text-shadow: 4px 4px 0px var(--accent-title-color);
  }
}

.theme_light .header__text,
.theme_light .info-block__title,
.theme_light .wrapper__header,
.theme_light .info-block__title-accent,
.theme_light .header__theme-menu {
  color: var(--text-color);
}

.theme_light .logo {
  color: var(--accent-color);
  text-shadow: 4px 4px 0px var(--accent-title-color);
}

.theme_light .decorative-text {
  display: none;
}
