/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  position: relative;
  color: var(--text-color);
  font-family: "IBM Plex mono", Arial, Helvetica, sans-serif;
  background: var(--bg-image);
  background-color: var(--main-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, min-content);
  margin-block-end: 40px;
  padding: var(--page-padding);
  min-block-size: 668px;
  block-size: 100vh;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--contrast-color);
  border-block-start: 1px solid var(--contrast-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-end: var(--page-padding);
  inset-block-start: var(--page-padding);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  justify-self: start;
  border-inline-start: 1px solid var(--contrast-color);
  border-block-end: 1px solid var(--contrast-color);
  block-size: 25px;
  inline-size: 25px;
  inset-inline-start: var(--page-padding);
  inset-block-end: var(--page-padding);
}

.decorative-text {
  position: absolute;
  top: var(--page-padding);
  right: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 25px;
}

.decorative-text::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
}

.header__theme-menu {
  grid-column: 1/3;
  grid-row: 1/2;
  justify-self: end;
  margin-block-start: 65px;
  color: var(--contrast-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 3px 12.5px;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  background: transparent;
  appearance: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--low-opacity-accent);
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--contrast-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--contrast-color);
  pointer-events: none;
}

.header__title {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-block-start: 68px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.logo {
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-title-color);
}

.header__text {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  height: fit-content;
  margin-block-start: 56px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  background: var(--accent-color);
}

.word-break {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 40px;
  padding: 0 var(--page-padding);
}

.article_lg {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-block__title {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.463rem;
}

.article__list, .article-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.article__header,
.info-block__title-accent {
  color: var(--main-color);
  font-size: 18px;
  line-height: 1.463rem;
  background: var(--accent-color);
}

.article__text {
  font-size: 18px;
  line-height: 1.463rem;
}

.info-block__title-accent {
  font-weight: bold;
}

.info-block__link {
  display: inline-block;
  border-block-end: 1px solid transparent;
  font-size: 18px;
  line-height: 23px;
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.info-block__link:hover {
  border-block-end: 1px solid var(--text-color);
}

.info-block__link:focus {
  outline: none;
}

.info-block__link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: -5px 0 0 0;
}

.info-block.gallery {
  gap: 10px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 116px;
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--accent-color);
}

@media (min-width: 768px) {
  :root {
    --page-padding: 20px;
  }

  .decorative-text {
    right: 29px;
  }

  .header {
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    margin-block-end: 60px;
    padding: var(--page-padding) var(--page-padding) var(--page-padding) 0;
    min-block-size: 1024px;
    block-size: 100vh;
  }

  .header__theme-menu {
    grid-column: 4/5;
    margin-block-start: 172px;
  }

  .header__title {
    grid-column: span 4;
    margin-block-start: 173px;
  }

  .logo {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__text {
    grid-column: 3/5;
    justify-self: end;
    margin-inline-start: 10px;
    margin-block-start: 165px;
  }

  .content {
    gap: 80px;
    margin-block-end: 60px;
    padding: 0 var(--page-padding);
  }

  .content__article_m {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .article_m.info-block__wrapper,
  .article_lg {
    grid-column: 2/-1;
    justify-self: end;
    width: clamp(29.5rem, -3.6875rem + 69.1406vw, 40.5625rem);
  }

  .article_m.info-block__title-accent {
    grid-column: 2/4;
  }

  .article_xl.article-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .article_xl.article-block__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .article_xl__list {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .info-block.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__title.info-block__title-accent {
    grid-column: 1/-1;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .sunset {
    grid-column: 1/3;
  }

  .ice-cream {
    grid-column: 3/-1;
    grid-row: 2/4;
    object-fit: cover;
  }

  .tape {
    grid-row: 3/6;
    object-fit: cover;
  }

  .street {
    grid-column: 2/4;
    grid-row: 4/6;
  }

  .footer {
    min-height: 1024px;
  }
}

@media (min-width: 1024px) {
  .header {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: min-content min-content 1fr;
    min-block-size: 768px;
    block-size: 100vh;
  }

  .header__theme-menu {
    grid-column: 4/6;
    grid-row: 1/2;
    justify-self: end;
    align-self: start;
    margin: 0;
  }

  .logo {
    grid-column: 1/-1;
    margin-block-start: 273px;
  }

  .header__text {
    grid-column: 5/-1;
    margin-block-start: 114px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .content__article_m {
    grid-template-columns: repeat(3, 1fr);
  }

  .article_m.info-block__wrapper,
  .article_lg {
    width: 100%;
  }

  .article_xl__list {
    display: grid;
    grid-column: 1/-1;
    gap: 20px;grid-template-columns: repeat(3, 1fr);
  }

  .article_xl.article-block__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .footer {
    min-block-size: 768px;
    block-size: 100vh;
  }

  .footer-logo.logo {
    margin-block-start: 0;
  }
}

.html.theme-light {
  --accent-color: var(--light-accent-color);
  --text-color: var(--light-text-color);
  --accent-text-color: none;
  background-color: var(--light-main-color);
}
